.container {
  width: inherit;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
}

.image {
}

.image img {
  width: inherit;
  height: inherit;
  max-width: 100%;
  max-height: 100%;
}
